[general]

project     = Générateur et visionneuse de documentation Sphinx Python
version     = 2.5
release     = 2.5.1
t3author    = Xavier Perseguers
copyright   = 2013-2017

description = Installe un environnement Sphinx complet dans votre site TYPO3. Compile et génère des
      projets basés sur Sphinx/reStructuredText tels que les manuels d'extensions, les guides officiels
      de référence ou vos propres documents internes soit depuis le backend de TYPO3 ou depuis la
      ligne de commande, selon vos préférences. Intègre un éditeur reStructuredText avec coloration
      syntaxique et doté d'un navigateur de références croisées.


[html_theme_options]

project_issues       = https://forge.typo3.org/projects/extension-sphinx/issues
project_repository   = https://git.typo3.org/TYPO3CMS/Extensions/sphinx.git


[intersphinx_mapping]

restdoc = https://docs.typo3.org/typo3cms/extensions/restdoc/
t3cmsapi = https://typo3.org/api/typo3cms/
t3tsref = https://docs.typo3.org/typo3cms/TyposcriptReference/


[extensions]

ext_00 = sphinx.ext.extlinks
ext_01 = sphinx.ext.intersphinx
ext_02 = sphinxcontrib.googlechart
ext_03 = sphinxcontrib.googlemaps
ext_04 = sphinxcontrib.slide
ext_05 = sphinxcontrib.youtube
ext_06 = t3sphinx.ext.t3extras
ext_07 = t3sphinx.ext.t3tablerows
ext_08 = t3sphinx.ext.targets


[extlinks]

ter = https://typo3.org/extensions/repository/view/%s | TYPO3 extension


# About Settings.cfg

# normal:
# https://github.com/marble/typo3-docs-typo3-org-resources/blob/master/TemplatesForCopying/ExampleFiles/Settings-minimal.cfg

# extensive:
# https://github.com/marble/typo3-docs-typo3-org-resources/blob/master/TemplatesForCopying/ExampleFiles/Settings-extensive.cfg

# Example files:
# https://github.com/marble/typo3-docs-typo3-org-resources/tree/master/TemplatesForCopying/ExampleFiles

# More:
# http://mbless.de/blog/2015/10/24/a-new-task-for-an-old-server.html#ini-files
