/* mb, 2012-11-25, 2013-07-15, 2014-03-25 */

/* override standard settings of typo3.org */

.pDISABLED {
    width: inherit;
    min-width: 981px;
}
.doc .highlight .p {
	padding-top: 0;
    min-width: inherit;
    width: inherit;
}
.doc .highlight .s {
	padding: 0;
}
.smart-search {
	display: none;
}
.doc #references a {
	color: #f58006;
}
@font-face {
    font-family: 'Share';
    src: url('../t3extras/fonts/share-bold-webfont.eot');
    src: url('../t3extras/fonts/share-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../t3extras/fonts/share-bold-webfont.woff') format('woff'),
         url('../t3extras/fonts/share-bold-webfont.ttf') format('truetype'),
         url('../t3extras/fonts/share-bold-webfont.svg#Share-BoldRegular') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Share';
    src: url('../t3extras/fonts/share-italic-webfont.eot');
    src: url('../t3extras/fonts/share-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../t3extras/fonts/share-italic-webfont.woff') format('woff'),
         url('../t3extras/fonts/share-italic-webfont.ttf') format('truetype'),
         url('../t3extras/fonts/share-italic-webfont.svg#Share-ItalicRegular') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Share';
    src: url('../t3extras/fonts/share-regular-webfont.eot');
    src: url('../t3extras/fonts/share-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../t3extras/fonts/share-regular-webfont.woff') format('woff'),
         url('../t3extras/fonts/share-regular-webfont.ttf') format('truetype'),
         url('../t3extras/fonts/share-regular-webfont.svg#Share-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* WV pschumann begin */
.doc #aside {
	/*background-image: url(http://www.typo3.org/typo3conf/ext/t3org_template/css/../i/aside-shade.png);
	background-repeat: no-repeat;
	background-position: right 0;*/
}

.doc #aside h3 {
	background-color: #efefef;
	padding: 3px 8px 4px 10px;
	background-image: url(../t3extras/i/nav-aside.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

.doc #aside h3 a {
	font-size: 12px;
}

.doc .hnav-related {
	margin: 0 0 17px 0;
	margin: 0 0 0 0;
	background: transparent;
}

.doc .alt-stylesheet-0 {
    border: 1px dotted #bbb;
}

.doc .hnav-related-container {
	margin: 0 0 17px 0;
}

.doc .hnav-related li {
	color: #b9b9b9;
	padding: 0 6px 0 10px;
	font-size: 11px;
}

.doc .hnav-related li:first-child {
	padding-left: 0;
}

.doc .hnav-related a {
	background: transparent;
	color: #f58006;
	text-decoration: normal;
}

.doc .hnav-related-2 {
	color: #888;
	font-size: 11px;
	padding-right: 6px;
}
.doc .hnav-related-2 a {
	background: transparent;
	color: #aaa;
	text-decoration: none;
}
.doc .hnav-related-2 a.whitewashed {
	color: #fff;
}
.doc .hnav-related-2 a.whitewashed:hover {
	color: #888;
    text-decoration: underline;
}
.doc .d h1, .doc h1 {
	color: #FF8700;
	margin: 0 0 20px 0;
	font-size: 24px;
	font-weight: normal;
	font-family: Share;
}

.doc .d h1 a, .doc h1 a {
	text-decoration: none;
}

.doc .d h2, .doc h2 {
	color: #000000;
	/* Separate sections from each other more clearly */
	margin-top: 40px;
	/* Create some space below headlines; would default to 6px */
	margin-bottom: 20px;
}

.doc .d h2 a, .doc h2 a {
	text-decoration: none;
	color: #000000;
}

.doc .d table {
	border: 1px solid #cccccc;
}

.doc .d table th {
	width: 240px;
}

.doc .d table th, .doc .d table td {
	background: #ffffff;
}

.doc .d table th p, .doc .d table td p {
	margin-bottom: 0;
}

.doc .d h3, .doc h3 {
	margin-top: 36px;
	margin-bottom: 12px;
}

.doc .d h3, .doc h3,
.doc .d h3 a, .doc h3 a {
	color: #8c8c8c;
	font-size: 18px;
	text-decoration: none;
}

.doc .d h4, .doc h4 {
	margin-bottom: 7px;
}

.doc .d h4, .doc h4,
.doc .d h4 a, .doc h4 a {
	font-size: 16px;
	text-decoration: none;
	color: #000000;
}

.doc .nav .nav-sub h4,
.doc .nav .nav-sub h4 a {
	font-size: 12px;
}

.doc .d h5, .doc h5,
.doc .d h5 a, .doc h5 a {
	color: #000000;
	text-decoration: none;
}

.doc .d h6, .doc h6,
.doc .d h6 a, .doc h6 a {
	color: #000000;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 5px;
}

.doc .footnote td.label {
	width: 130px;
}

.doc #enumerated-lists > ol {
	margin-left: 15px;
}

.doc .admonition {
	border: 1px solid #cccccc;
	margin-bottom: 15px;
	background-color: #fff;
}

.doc .admonition-title {
	background-color: #efefef;
	border-bottom: 1px solid #cccccc;
	padding: 2px 10px!important;
	font-weight: bold;
	margin-bottom: 5px;
}

.doc .admonition > * {
	padding-left: 20px;
	padding-left: 20px;
	padding-right: 10px;
	margin-bottom: 5px;
}

.doc .admonition.tip .admonition-title,
.doc .admonition.hint .admonition-title {
	background-color: #bada55;
	border-bottom-color: #bada55;
	color: #ffffff;
}

.doc .admonition.tip,
.doc .admonition.hint {
	border-color: #bada55;
}

.doc .admonition.error .admonition-title,
.doc .admonition.warning .admonition-title,
.doc .admonition.danger .admonition-title {
	background-color: #ff4200;
	border-bottom-color: #ff4200;
	color: #ffffff;
}

.doc .admonition.error,
.doc .admonition.warning,
.doc .admonition.danger {
	border-color: #ff4200;
}

.doc .admonition.attention .admonition-title,
.doc .admonition.caution .admonition-title {
	background-color: #ffba00;
	border-bottom-color: #ffba00;
	color: #ffffff;
}

.doc .admonition.attention,
.doc .admonition.caution {
	border-color: #ffba00;
}

.doc .admonition.important .admonition-title {
	background-color: #ff8700;
	border-bottom-color: #ff8700;
	color: #ffffff;
}

.doc .admonition.important {
	border-color: #ff8700;
}

.doc .admonition.admonition-and-by-the-way .admonition-title,
.doc .admonition.note .admonition-title {
	background-color: #d9d9d9;
}

.doc .topic-title,
.doc .sidebar-title {
	font-family: Share;
	font-weight: bold;
	font-size: 16px;
}

.doc .sidebar {
	float: right;
	width: 250px;
	padding-left: 10px;
}

.doc .rubric {
	font-family: Share;
	font-size:  14px;
	font-weight: bold;
}

/* WV pschumann end */


a.headerlink {
	visibility: hidden;
	margin-left: 12px;
	padding: 0 4px;
	color: #aa4400;
	text-decoration: none;
}

a.headerlink:hover {
	color: white !important;
	background-color: #c0c0c0;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
	visibility: visible;
}

div.toctree li.current {
	background-color: black;
}

#aside h3 {
	background-color: transparent;
	font-weight: bold;
	padding: 3px 8px 4px 10px;
	padding: 2px 0px 14px 0px;
}

#aside h3 a {
	display: block;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

#aside h3 a:hover {
	text-decoration: underline;
}

#aside div.toc {
	height: 18px;
	overflow: hidden;
}

#aside div.toc:hover {
	overflow: visible;
}

#aside .toc li {
	display: block;
	padding: 3px 8px 4px 30px;
	padding: 2px 0px 0px 12px;
}

#p-on-this-page {
	background-color: #e8e8e8;
}

/*#aside a {
/*	color: #555;
/*	font-weight: normal;
/*	text-decoration: none;
/*}
/*
/*#aside a:hover {
/*	text-decoration: underline;
/*}
*/

.hnav-related {
	text-align: right;
	background-color: #e8e8e8;
}

.hnav-related-2 {
	text-align: right;
}

.hnav-related a {
	text-decoration: none;
	color: #686868;
	background-color: #d8d8d8;
}

hnav-related a:hover {
	text-decoration: underline;
}
.hnav-related-2 a:hover {
	color: #888;
	text-decoration: underline;
}

.hnav-related ul li {
	display: inline;
	background-image: none;
}


/*.doc #aside #nav-aside a {
/*    font-weight: normal;
/*}
*/

.doc table.docutils {
  /*  table-layout:fixed !important */
}

.doc pre {
    overflow: auto;
    white-space: pre;
}
.doc table pre {
    white-space: pre-wrap;
}
/* .doc div.s.d {
       overflow: visible;
   }
   #page {
       overflow: visible;
   }
   #content {
       overflow: visible;
   }
*/
/* http://css-tricks.com/numbering-in-style/ */

.doc .d ol li {
	margin-left: 20px;
	padding-left: 0;
}
.doc .d ol ul li {
	list-style: none;
}
.doc .d li li {
	padding-left: 20px;
}

.doc div.figure {
	margin-bottom: 17px;
}

/*.doc  #aside #nav-aside li a {
/*	padding: 3px 10px 4px 25px;
/*	padding: 3px 8px 4px 26px;
/*}
*/

.doc .hnav-related-container ul {
	margin-bottom: 10px;
}

.doc .s.d {
	min-width: 192px;
}

.doc .admonition-todo .admonition-title {
	background: url(../images/bg-admonition-todo.png) transparent;
}

.mark-black		{background-color: #000000; color:#FFFFFF;}
.mark-silver	{background-color: #C0C0C0; color:#000000;}
.mark-gray		{background-color: #808080; color:#FFFFFF;}
.mark-white		{background-color: #FFFFFF; color:#000000;}
.mark-maroon	{background-color: #800000; color:#FFFFFF;}
.mark-red		{background-color: #FF0000; color:#FFFFFF;}
.mark-purple	{background-color: #800080; color:#FFFFFF;}
.mark-fuchsia	{background-color: #FF00FF; color:#000000;}
.mark-green		{background-color: #008000; color:#FFFFFF;}
.mark-lime		{background-color: #00FF00; color:#FFFFFF;}
.mark-olive		{background-color: #808000; color:#FFFFFF;}
.mark-yellow	{background-color: #FFFF00; color:#000000;}
.mark-navy		{background-color: #000080; color:#FFFFFF;}
.mark-blue		{background-color: #0000FF; color:#FFFFFF;}
.mark-teal		{background-color: #008080; color:#FFFFFF;}
.mark-aqua		{background-color: #00FFFF; color:#000000;}

#flyOutToc {
	position: absolute;
	left: 160px;
	top: -6px;
	width: 300px;
	border: 1px solid #ddd;
	border: 1px solid #39c71d; /* light green */
	border: 1px solid #666; /* light green */
	background-color: white;
	padding: 4px;
	display: none;
	z-index: 100; /* ???, just guessed */
}
.flyOutToc p {
	line-height: 27px;
	padding-left: 14px;
	font-weight: bold;
	background-color: #efefef;
	color: #555555;
}
.doc #aside:hover #nav-aside .cur a:hover #flyOutToc {
	/* display: block; +/
}
.doc #aside li.cur {
	position: relative;
}
.doc #aside li.cur:hover #flyOutToc {
	/* display: block; */
}
.flyOutToc a {
    background: url("../t3extras/i/i-arrows.png") no-repeat scroll -942px -431px transparent;
    /* display: block; */
    padding: 3px 8px 4px 30px;
}
.flyOutToc ul a {
	padding-left: 30px;
	background: url("../t3extras/i/i-arrows.png") no-repeat scroll -942px -431px transparent;
}
.flyOutToc ul ul a {
	padding-left: 45px;
	background: url("../t3extras/i/i-arrows.png") no-repeat scroll -925px -431px transparent;
}
.flyOutToc ul ul ul a {
	padding-left: 60px;
	background: url("../t3extras/i/i-arrows.png") no-repeat scroll -910px -431px transparent;
}
.flyOutToc ul ul ul ul a {
	padding-left: 75px;
	background: url("../t3extras/i/i-arrows.png") no-repeat scroll -889px -431px transparent;
}
.doc p,
.doc div.figure
{
	overflow: auto;
}
.doc div.figure {
	text-align: center;
}
.doc .screenshot-detail {
	padding: 10px;
	margin-bottom: 25px;
	border: 1px solid #aaa;
	box-shadow: 4px 4px 6px #ddd;
	-moz-box-shadow: 4px 4px 6px #ddd;
	-webkit-box-shadow: 4px 4px 6px #ddd;
}
.doc .img-scaling {
    width: 100%;
}

.doc .pre {
	font-family: monospace;
}
.doc .s table {
    border-collapse: collapse;
    margin-bottom: 28px;
    width: 100%;
}
.cod .s table caption {
    text-align: center;
}
.doc .s table th,
.doc .s table td {
    border: 1px solid #CCCCCC;
    padding: 6px 10px 5px;
    vertical-align: top;
}
.doc .s table th {
    background: none repeat scroll 0 0 #E6E6E6;
    font-weight: bold;
    text-align: left;
}
.doc .s table td {
}
.doc .s table tr.row-odd td,
.doc .s table tr.field-odd .field-body {
	background-color: #f3f3f3;
}
.doc .s table tr.field-even .field-name {
	background-color: #ffffff;
}
.doc .s table tr.field-odd .field-name {
	background-color: #f3f3f3;
}
.doc table caption {
	font-weight: bold;
}

/* blockqoute see: http://typo3.org/teams/core-development-team/ */

#naviwest {
	position: fixed;
	width: 20px;
	min-height: 660px;
	min-height: 550px;
	top: 200px; /* like the normal navi */
	top: 96px; /* like orange top menu. More space! */
	top: 130px; /* just below the orange top menu. More space! */
	left: 0px;
	background-color: #888;
	background: url("../i/toc_grey.png") no-repeat scroll 2px 266px transparent;
	background: url("../i/toc_orange.png") no-repeat scroll 2px 266px transparent;
	background: url("../i/toc_grey_border.png") no-repeat scroll 2px 266px transparent;
	background: url("../i/arrow-r-888888-17x17.png") no-repeat scroll 3px 266px white;
	border: 1px solid #444;
	border: 1px solid #AAA;
	border-left: 1px none #e0e0e0;
	-webkit-border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
	opacity: 0.2;
	opacity: 1.0;
	overflow: visible;
	z-index: 1;
	display: none; /* changed by js */
}
#naviwest,
#naviwestpayload {
	-webkit-border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
#naviwest:hover {
	border: none;
	opacity: 1.0;
}
#naviwestpayload {
	width: 300px;
	height: 660px;
	height: 550px;
	display: none;
	border: 1px solid #d0d0d0;
	background-color: white;
	z-index: 1;
	padding: 4px;
	opacity: 1.0;
   overflow: auto;
}
#naviwest:hover #naviwestpayload {
	display: block;
}
#naviwestpayload:hover {
	display: block;
}
#naviwestpayload a {
	color: #555;
	display: block;
	font-weight: normal;
	text-decoration: none;
}
#naviwestpayload a:hover {
	background-color: #efefef;
}
#naviwestpayload li {
    background: url("../t3extras/i/nav-aside.png") no-repeat scroll right top transparent;
    padding-top: 1px;
}

.doc .literal .pre {
	color: #610E00;
}

.doc .typoscript .pre {
	font-weight: normal;
	color: #821200;
}
.doc .method .pre {
	font-weight: normal;
	color: navy;
}

/* table.ts-properties with TypoScript properties */
.doc .ts-properties tr > td:first-child {
	font-family: monospace;
}
.doc .toc-backref {
	position: relative;
	left: -16px;
	padding-left: 16px;
}

.doc .toc-backref:hover {
    background: url("../t3extras/i/i-arrows.png") no-repeat scroll 0 -391px transparent;
}
/*
   html.gecko
   body
   div#page.p
   div#content.c
   div.s
   div#package-management.section
   div#package-locations.section
   div#framework-and-application-packages.section
   dl.docutils
   dt
*/

.c dl dt {
    font-weight: bold;
}

.c dl dd {
    padding-left: 20px;
}

/* [Documentation Rendering - Suggestion #46334] Larger font on property names */
.doc .t3-cell-property p {
  font-size: 16px; /* bigger looks too ugly; 16 is OK */
  /*color: #F58006; not well readable
  font-family: Share; looks fuzzy/does not have sharp borders; not well readable */
  overflow: hidden;
}
.doc .t3-cell p.term {
  font-size: 11px;
}




/* Versionswitcher, mb, 2013-05-03 */
    #hnav-versions {
        float: right;
    }

    #vchoice-trigger {
        float: right;
        position: relative;
    }
    #vchoice-choices {
        z-index: 100;
        clear: both;
        position: absolute;
        top: 0px;
        right: 0px;
        display: none;
    }
    #vchoice-choices table {
        width: auto;
        border: 1px solid #e87c0c;
        float: right;
        margin: 0px;
        white-space: nowrap;
    }
    #vchoice-choices .row-odd td {
        background-color: #f3f3f3;
    }
    #vchoice-choices th,
    #vchoice-choices td {
        border: 1px solid #e87c0c;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 3px 6px;
        vertical-align: top;
        text-align: center;
        color: #333;
        font-weight: bold;
    }
    #vchoice-choices th {
        background-color: #666;
        font-weight: bold;
        color: #fff;
    }
    #vchoice-choices td a {
        color: #888;
    }
    #vchoice-choices td.rollover:hover {
        background-color: #d0d0d0;
        color: #000;
        cursor: pointer;
    }
    #vchoice-choices td.rollover:hover a {
        color: #000;
        text-decoration: underline;
    }

    #ajax-preloader-img {
        /* display: none; */
    }
    .hnav-div-layout {
        float: right;
        margin-right: 16px;
    }

.doc .highlighted {
	/* doctools.js inserts <span class="highlighted"> */
	background-color: #FBE54E;
}
.doc #searchbox {
	padding-left: 10px;
	margin-bottom: 20px;
}
.doc #searchbox .input-text {
	width: 146px;
}
.doc p.highlight-link {
	margin-top: 15px;
	background-color: transparent;
}
.doc .highlight-link a {
	text-decoration: none;
	color: #666666;
}
.doc .highlight-link a:hover {
	text-decoration: underline;
}
.doc #search-page-input-text {
	width: 70%;
	min-width: 100px;
	max-width: 350px;
}

/* 2014-03-11 [BUGFIX] Numbers of OL LI don't show up for LI P in Chrome */
.doc li p {
	overflow: visible;
}
/* 2014-03-12 [BUGFIX] http://forge.typo3.org/issues/53137 */
.doc .hnav-related-container {
	clear: both;
}
/* 2014-03-25: Let's use "Adaptive laout" as default */
.doc .alt-stylesheet-0 {
    border: none;
}
.doc .alt-stylesheet-1 {
    border: 1px dotted #bbb;
}
#page,
.doc .p {
	margin: 0 25px;
	width: inherit;
	/* min-width: 981px; */
}
.doc pre .p {
	margin: 0;
}
.doc .h {
	width: 100%;
}

/* Better code blocks in documentation */
.doc table.highlighttable,
.doc table.highlighttable td {
	border: 0;
}
.doc table.highlighttable td.linenos,
.doc table.highlighttable div.linenodiv {
	width: 40px;
}
.doc table.highlighttable div.linenodiv pre {
	float: right;
	padding-left: 8px;
	padding-right: 0;
	border-right: 0;
	background: #e7e7e7;
	width: 30px;
}
.doc table.highlighttable div.highlight pre {
	border-left: 0;
}
.doc table.highlighttable td {
	padding: 0;
}
.doc table.highlighttable td pre {
	margin-bottom: 0;
}