body {
	padding: 0;
	margin: 5px;
	font-family: verdana,"Arial","Myriad Pro","Myriad Web","Tahoma","Helvetica",sans-serif;
	font-size: 10px;
}

#book {
	margin-top: 10%;
}

.center {
	text-align: center;
}

.right {
	float: right;
}
