body {
	padding: 4px 24px;
	margin: 0;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	background-color: #585858;
	color: #DADADA;
}

#book {
	margin-top: 10%;
}

.center {
	text-align: center;
}

.right {
	float: right;
}
